head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Rubyizer
body
  section
    h1 Rubyizer
  .interface
    section.controller
      textarea#inputText(cols="60", rows="40", placeholder = 'ここに文章を入力してください。\nルビ付き記法の文章が右側に出力されます。')
    section.resultView
      .resultArea
        pre
          code#resulttxt ← 文章を入力してください。（例：自動で回るようにしよう）
        button#copybutton 結果 をコピー
      pre 
        code.sample サンプルテキスト
          |
          |
          | 物事がグローバルな基準で動いている世の中において、教育は国や地域で細分化・最適化された数少ない分野となって残っています。
          | インターネットが世界の末端まで普及していく中で、国や地域ごとに特色のある教育に加え、STEM教育※のようにグローバルに統一された教育もまた一つの大きな流れとなって、生活に浸透してきています。
          | 誰もが簡単に教育を受けられるように、誰もが競い合い、学び合えるように、アプリやサービスの枠を超えた新しい教育インフラを創り上げることが我々のミッションです。
      pre   
        code.sample 精度について：現在判明している注意点
          |
          | 「上」が、文脈によって「じょう」とされる場合があります。ご注意ください。
          | 「味」が、文脈によって「あじ」ではなく「み」とされる場合があります。
      p 参考
      a(href="https://orange-factory.com/tool/kanjicheck.html" target = 'blank') 小学生で習う漢字チェッカー

script(type = 'module' src = './app.js')