head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="icon", type = "x-icon",  href="./favicon.ico")
  title Rubyizer
body
  section
    h1 Rubyizer
      form.modeSwitcher
        p#currentModeDisplay 現在選択されているルビ振りモード
        .modeButtons
          .modeListItem
            input(type = "radio" id = "rubyModeA" name = "rubyMode" value = 1 checked)
            label(for="rubyModeA") [漢字|かんじ]
          .modeListItem
            input(type = "radio" id = "rubyModeB" name = "rubyMode" value = 2)
            label(for="rubyModeB") 漢字(かんじ)
          .modeListItem
            input(type = "radio" id = "rubyModeC" name = "rubyMode" value = 3)
            label(for="rubyModeC") &lt;ruby&gt;漢字&lt;rp&gt;(&lt;/rp&gt;&lt;rt&gt;かんじ&lt;/rt&gt;&lt;rp&gt;)&lt;/rp&gt;&lt;/ruby&gt;
          
  .interface
    section.controller
      textarea#inputText(cols="60", rows="40") 入力した文章にルビを付けるよ
    section.resultView
      .resultArea
        pre
          code#resulttxt ERROR: jsが読み込まれていません
        button#copybutton 結果 をコピー
      pre 
        code.sample サンプルテキスト
          |
          |日本の教育において学校教育とは、狭義には、学校教育法の第1条に規定する学校（一条校）で行われるものを指す。
          |具体的には、幼稚園、小学校、中学校、高等学校、大学などが代表的な学校であり、6歳から15歳までの時期（学齢期）が義務教育である。
          |
          |ただし、狭義の学校教育（1条校）に該当しなくても、学校教育に類するとされる教育の場も現代の日本では重要な意味をもっている。
          |特に専修学校や各種学校は、学校教育法第1条には規定されていないものの、学校教育法の中に規定があるため、学校教育として扱われている。
      pre   
        code.sample 精度について：現在判明している注意点
          |
          | 「上」が、文脈によって「じょう」とされる場合があります。ご注意ください。
          | 「味」が、文脈によって「あじ」ではなく「み」とされる場合があります。
      p 参考
      a(href="https://orange-factory.com/tool/kanjicheck.html" target = 'blank') 小学生で習う漢字チェッカー

script(type = 'module' src = './app.js')